.kategori__container {
    padding: 0 10px;
}

.card__kategori > p {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, .5);
    width: fit-content;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px 0;
    background-color: #2D4059;
}

.card__kategori > p:hover {
    background-color: #fff;
    color: #000;
}